# Dependency directories
node_modules/

# Output / Build directories
dist/
build/
.next/
out/

# Vercel build output
.vercel/

# Environment variables
.env
*.env
!server/.env.example

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

.vercel
